.card {

  /*background-color: white;
  width: 70px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;*/
  display: flex;
  border: 2px dashed #bbb;
  padding: 10px;
  margin: 20px;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: center
}
